@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center w-100 h-100">

    <form class="form-group flex-column text-center" method="post" enctype="multipart/form-data" >
        <div>
            <input type="file" name="file" />
        </div>

        <div>
            <input type="submit" value="Upload"/>
        </div>
    </form>
    

</div>
